name: SonarQube Scan

on:
  push:
    branches: [ main , development ]
  pull_request:

jobs:
  sonar:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Install Sonar Scanner
        run: |
          npm install -g sonarqube-scanner

      - name: Run Sonar Scan
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          BRANCH_NAME: ${{ github.ref_name }}
        run: |
          BRANCH=${BRANCH_NAME:-"development"}  # fallback if ref_name is empty (like in act)
          echo "Running Sonar scan on branch: $BRANCH"
          sonar \
            -Dsonar.token=$SONAR_TOKEN \
            -Dsonar.projectKey=the-sprintables_campus-event-planner \
            -Dsonar.organization=the-sprintables \
            -Dsonar.branch.name=$BRANCH

